[Desktop Entry]
Name=HandyTicket Deutschland
Type=Application
Icon=HandyTicketDeutschland.png
Exec=qmlscene --scaling %u qml/Main.qml
Terminal=false
X-Ubuntu-Touch=true
